.box {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    padding: 10px;
  }
  
.boxmodule {
    width: 200px;
    height: 200px;
    background-color: #b083d6;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: contain;
}

.boxcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
  }